*.pyc
*.whl
*.egg
*.tar.gz
*.bak
dist/*
.metadata/*
.project
.pydevproject
build/*
PKG-INFO
SOURCES.txt
.DS_Store
.ipynb_checkpoints/
.ipynb_checkpoints/*
DataSpyre.egg-info/
/notebooks*
tutorial/SpyrePresentation_demo*
.tox/*
