h1{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	font-color: #333333;  
}

input {
    padding: 5px;
    margin: 0 0 10px 5px;
    font: 14px bold;
	font-family: Arial, Helvetica, sans-serif;
	width: 80%;
}

.button {
	font-size: 14px;
	padding: 8px 5px 8px 5px;
	margin: 0 0 0 5px;
	text-align: center;
	color: #ffffff;
    background-color: #777777;
  	width:80%;
  	border: 1px solid;
    border-radius: 8px;
}

.button:hover {
	background-color: #585858;
	cursor: pointer;
}

img {
     max-width: 100%;
}

.outer{
	padding: 15px;
}
.left-panel
{   
	font: 18px bold;
	font-family: Arial, Helvetica, sans-serif;
	font-color: #333333;     
    background: #f4f4f4;
    padding: 10px 0 0 10px;
    width:14%;
    float:left;  
}
.right-panel
{        
    background-color:white;
    padding: 1%;
    width:83%;
    float:left;
}​



.bar {
  fill: orange;
}

.bar:hover {
  fill: orangered ;
}

.x.axis path {
  display: none;
}

table.sortable
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	background: #fff;
	margin: 45px;
	width: 480px;
	border-collapse: collapse;
	text-align: left;
}
table.sortable thead
{
	font-size: 14px;
	font-weight: normal;
	color: #039;
	padding: 10px 8px;
	border-bottom: 2px solid #6678b1;
}
table.sortable td
{
	border-bottom: 1px solid #ccc;
	color: #669;
	padding: 6px 8px;
}
table.sortable tbody tr:hover td
{
	color: #009;
}
