<!DOCTYPE html>
<html>
	<head>
		<!-- This application was created using spyre (https://github.com/adamhajari/spyre),
		a web application framework for python created by Adam Hajari -->
		
		<!-- load styles -->
		<style>{{d3css}}</style>
		<style>{{css}}</style>
		<style>{{custom_css}}</style>

		<!-- load javascript -->
		<script type='text/javascript'>{{js}}</script>

		<script type='text/javascript'>
			{{d3js}}
			{{custom_js}}

			function updateSharedParameters(){
				var shared_params = "";
				{% for input in inputs -%}
					{% if input['input_type']=="radiobuttons" -%}
						var {{input['variable_name']}} = $('input[name="{{input['variable_name']}}"]:checked').val();
					{% elif input['input_type']=="checkboxgroup" -%}
						var {{input['variable_name']}} = new Array();
						{{input['variable_name']}}.push("__list__");
						$.each($('input[name="{{input['variable_name']}}"]:checked'), function() {
							{{input['variable_name']}}.push($(this).val());
						});
					{% elif input['input_type']=="slider" -%}
						var {{input['variable_name']}} = "__float__".concat($("#{{input['variable_name']}}").val());
					{% else %}
						var {{input['variable_name']}} = $("#{{input['variable_name']}}").val();
					{%- endif %}
					shared_params = shared_params+"{{input['variable_name']}}="+{{input['variable_name']}}+"&";
				{%- endfor %}
				return shared_params;
			}

			// connect controller function to output functions
			{%- for control in controls %}
				function {{control['control_id']}}(){
					{% for output in outputs %}
						{% if output['control_id']==control['control_id'] -%}
							{{output['output_id']}}()
						{%- endif %}
					{%- endfor %}
				}
			{% endfor %}

			// define output functions
			{%- for output in outputs %}
				{%- if output['output_type']=='plot' %}
					// load plot function
					function {{output['output_id']}}(){
						var spinning_wheel = $("<img />").attr('src', "/spinning_wheel");
						$("#{{output['output_id']}}").html(spinning_wheel);

						var params = updateSharedParameters();
						params = params+"output_id={{output['output_id']}}&";
						
						var plot = $("<img />").attr('src', "plot?"+params).load(function(){
							$("#{{output['output_id']}}").html("");
							$("#{{output['output_id']}}").append(plot)
						});
					}
				{%- endif %}

				{%- if output['output_type']=='image' %}
					// load image function
					function {{output['output_id']}}(){
						var params = updateSharedParameters();
						params = params+"output_id={{output['output_id']}}&";
						var img = $("<img />").attr('src', "image?"+params);
						$("#{{output['output_id']}}").html(img);
					}
				{%- endif %}

				{%- if output['output_type']=='html' %}
					// custom html function
					function {{output['output_id']}}(){
						var spinning_wheel = $("<img />").attr('src', "/spinning_wheel");
						$("#{{output['output_id']}}").html(spinning_wheel);

						var params = updateSharedParameters();
						params = params+"output_id={{output['output_id']}}&";
						$.ajax({
							url : "html?"+params,
							success: function(response, textStatus, jqXHR){
								$("#{{output['output_id']}}").html(response);
							}
						});
					}
				{%- endif %}

				{%- if output['output_type']=='table' %}
					// table output function
					function {{output['output_id']}}(){
						var spinning_wheel = $("<img />").attr('src', "/spinning_wheel");
						$("#{{output['output_id']}}").html(spinning_wheel);
						updateSharedParameters()
						var params = updateSharedParameters();
						params = params+"output_id={{output['output_id']}}&";
						$.ajax({
							type: 'GET',
							url : "table?"+params
						}).done(function(response){
							$("#{{output['output_id']}}").html(response);
							{%- if output['sortable'] is defined %}
								{%- if output['sortable'] %}
									initTable("sortable");
								{%- endif %}
							{%- endif %}
						});
					}
				{%- endif %}

				{%- if output['output_type']=='download' %}
					// custom html function
					function {{output['output_id']}}(){
						var params = updateSharedParameters();
						params = params+"output_id={{output['output_id']}}&";
						window.location = "download?"+params;
					}
				{%- endif %}


				{%- if output['output_type']=='no_output' %}
					// no_output output function
					function {{output['output_id']}}(){
						updateSharedParameters()
						var params = updateSharedParameters();
						params = params+"output_id={{output['output_id']}}&";
						$.ajax({
							type: 'GET',
							url : "no_output?"+params
						}).done(function(){
							{% if output['alert_message'] is defined %} alert("{{output['alert_message']}}"); {% endif %}
						});
					}
				{%- endif %}

				{%- if output['output_type']=='d3' %}
					function {{output['output_id']}}(){
						show_d3_plot()					
					}
				{%- endif %}
			{%- endfor %}

			// custom function for handling d3 plots
			function show_d3_plot(){
				var params = updateSharedParameters();
				$.ajax({
					url : "/data?"+params,
					success: function(response, textStatus, jqXHR)
					{	
						$("#chart").empty();
						var data = response.data;
						draw(data);
					}
				});
			};
			
			$(document).ready(function() {
				// jquery for tabs
				jQuery('.tabs .tab-links a').on('click', function(e)  {
					var currentAttrValue = jQuery(this).attr('href');
					jQuery('.tabs ' + currentAttrValue).show().siblings().hide();  // Show/Hide Tabs
					jQuery(this).parent('li').addClass('active').siblings().removeClass('active');  // Change/remove current tab to active
					e.preventDefault();
    			});

				// Apply the CSS properties in the 'styles' map where the key in the map is 
				// a JQuery selector and the values are maps of CSS property names to values
				{% for selector in styles -%}
					$("{{selector}}").css({{styles[selector]}});
				{%- endfor %}
				
				{% for input in inputs -%}
					{% if input['input_type']=="slider" -%}
					// jquery for sliders
						// update slider text box when slider moves
						jQuery("#{{input['variable_name']}}").on('change mousemove', function(e)  {
							$("#{{input['variable_name']}}_value").val($("#{{input['variable_name']}}").val())
		    			});
		    			$("#{{input['variable_name']}}_value").val($("#{{input['variable_name']}}").val())

		    			// update slider position when text box changes
		    			jQuery("#{{input['variable_name']}}_value").on('change keyup', function(e)  {
							$("#{{input['variable_name']}}").val($("#{{input['variable_name']}}_value").val())
		    			});
		    			$("#{{input['variable_name']}}").val($("#{{input['variable_name']}}_value").val())
		    		{%- endif %}
				{%- endfor %}

				// connect controller functions to controllers
				{%- for control in controls %}
					$("#{{control['control_id']}}").click(function(e) {
						{{control['control_id']}}()
					});
				{%- endfor %}

				{% for output in outputs -%}
					{%- if output['on_page_load'] %}
					{{output['output_id']}}()  // if on_page_load is true, load when page loads
					{%- endif %}
				{%- endfor %}

			});
		</script>
	</head>

	<body>
	<div class="outer">
		{% if app_bar %}
			<div class="app-bar">
				<ul class="tab-links">
					{% for route, text in app_bar %}
						<li><a href="{{route}}">{{text}}</a></li>
					{% endfor %}
				</ul>
			</div>
		{% endif %}



		<!-- control panel -->
		<div class="left-panel">
			<h1>{{title}}</h1>
			<hr>
			<!-- inputs -->
			{%- for input in inputs %}
				{% if input['input_type']=="text" -%}
					<!-- text input -->
					<form action="javascript:{{input['action_id']}}()">
					<div class="text_input">
					{% if input['label'] is defined %}
						{{input['label']}}:
					{% endif %}
					<input type=text value="{{input['value']}}" id="{{input['variable_name']}}" />
					</div>
					</form>
					<br>
				
				<!-- dropdown -->
				{% elif input['input_type']=="dropdown" -%}
					<!-- dropdown menu -->
					<div class="dropdown_input">
					{% if input['label'] is defined %}
						{{input['label']}}:
					{% endif %}
					<select id="{{input['variable_name']}}"  onchange="{{input['action_id']}}();" >
					{% for option in input['options'] -%}
						<option value={{option['value']}}>{{option['label']}}</option>
					{%- endfor %}
					</select><br></div>

				<!-- radiobuttons -->
				{% elif input['input_type']=="radiobuttons" -%}
					<div class="radiobuttons_input" id="{{input['variable_name']}}">
					{% if input['label'] is defined %}
						{{input['label']}}:
					{% endif %}
					{% for option in input['options'] -%}
						<br><input type="radio" name="{{input['variable_name']}}" value={{option['value']}} {% if option['checked']==True %} checked {% endif %} onclick="{{input['action_id']}}()">{{option['label']}}
					{%- endfor %}
					</div>

				<!-- checkbox group -->
				{% elif input['input_type']=="checkboxgroup" -%}
					<div class="checkboxgroup_input" id="{{input['variable_name']}}">
					{% if input['label'] is defined %}
						{{input['label']}}:
					{% endif %}
					{% for option in input['options'] -%}
						<br><input type="checkbox" name="{{input['variable_name']}}" value={{option['value']}} {% if option['checked']==True %} checked {% endif %} onclick="{{input['action_id']}}()">{{option['label']}}
					{%- endfor %}
					</div>
				
				<!-- sliders -->
				{% elif input['input_type']=="slider" -%}
					<div class="slider_input">
					{% if input['label'] is defined %}
						{{input['label']}}:
					{% endif %}
					<div class="slider">
						<input type="text" class="slider_value" id="{{input['variable_name']}}_value" value="{{input['value']}}" onchange="{{input['action_id']}}()">
						<input type="range" class="slider_slider" id="{{input['variable_name']}}" min="{{input['min']}}" max="{{input['max']}}" step="{{input['step']}}"  value="{{input['value']}}" onchange="{{input['action_id']}}()" />
					</div>
					</div>
				{%- endif %}
			{%- endfor %}

			<!-- buttons -->
			{%- for control in controls %}
				{% if control['control_type']=="button" -%}
					<div class="button" id="{{control['control_id']}}" >{{control['label']}}</div><br>
				{%- endif %}
			{%- endfor %}
		</div>

		<!-- output -->
		<div class="right-panel">
			<img scr="">
			{% if tabs is defined -%}
				<div class="tabs">
					<ul class="tab-links">
						{% for tab in tabs -%}
							{% if loop.index == 1 -%}
								<li class="active"><a href="#{{tab}}">{{tab}}</a></li>
							{% else -%}
								<li><a href="#{{tab}}">{{tab}}</a></li>
							{%- endif %}
						{%- endfor %}
					</ul>

					<div class="tab-content">
						{% for tab in tabs -%}
							{%- if loop.index == 1 %}
								<div id="{{tab}}" class="tab active">
							{%- else %}
								<div id="{{tab}}" class="tab">
							{%- endif %}
							{%- for output in outputs %}
								{%- if output['tab'] == tab %}
									{%- if output['output_type'] != "d3" %}
										<!-- plots, custom html, or table -->
										<div id="{{output['output_id']}}"></div>
									{%- endif %}

									{%- if output['output_type'] == "d3" %}
										<!-- d3 figs go here -->
										<div id="chart"></div>
									{%- endif %}
								{%- endif %}
							{%- endfor %}
								</div>
						{%- endfor %}

					</div>
			</div>
			{% else -%}	

				{%- for output in outputs %}
					<!-- plots, custom html, tables, anything not d3 -->
					{% if output['output_type'] != "d3" -%}
						<div id="{{output['output_id']}}"></div>
						<div id="{{output['output_id']}}_spinner"></div>
					{%- endif %}

					{% if output['output_type'] == "d3" -%}
						<!-- d3 figs go here -->
						<div id="chart"></div>
					{%- endif %}
				{%- endfor %}

			{%- endif %}
		</div>

	</div>
	</body>
</html>